{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Outside Merch - overall listing </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "outsidemerch/css/bootstrap-flatly.css" %}" media="screen">
        <link rel="stylesheet" href="{% static "outsidemerch/css/om-style.css" %}" media="screen">

    </head>
    <body>


    {% block navbar %}
      <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url "root" %}" class="navbar-brand">Outside Merch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
             <li><a href="{% url "root" %}">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Stages <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                    {% for stage in stages %}
					<li><a href="{% url "stage" forloop.counter %}">{{ stage }}</a></li>
                    {% endfor %}
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url "root" %}">Help</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    {% endblock %}

<div style="height:70px;">
</div>

      <!-- Content
      ================================================== -->

<div class="container">
    <div id="out"></div>
    {% block content %}
	<div class="row">

          <div class="col-lg-12" id="evtscontainer">

<!-- INDIVIDUAL STAGE  ----   ARTIST/TIME  BUTTON -->
            {% if lineups %}
                {% for stage, lineup in lineups.items %}
            <div class="bs-component" {% if specified_stage and specified_stage == stage %} id="stage-target" {% endif %} style="margin-bottom: 15px;">
              <div class="btn-group btn-group-justified">
<!-- LEFT SIDE === STAGE  -->
<!-- LINK TO STAGE PAGE VIEW  -->
                <a href="#" class="btn btn-default stage-left stage-name">{{ stage }}</a>
<!-- RIGHT SIDE === ARTIST/TIME  -->
<!-- LINK TO STAGE PAGE VIEW? OR ARTIST STORE?   -->
                <a href="{{ lineup.0.link }}" class="btn btn-default">{{ lineup.0.artist }}<br><span>{{ lineup.0.time }}</span></a>
              </div>
            </div>
                {% endfor %}
            {% endif %}

        </div>
        </div>
    {% endblock %}
</div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "outsidemerch/js/bootstrap.min.js" %}"></script>

    {% block custom_js %}
    <script type="text/javascript">
    $(function(){
        {% if specified_stage %}
            var $container = $("#evtscontainer");
            var $target = $("#stage-target").remove().prependTo($container);
            $target.css('background-color', 'red');
        {% endif %}
    });
    </script>
    {% endblock %}
    </body>
</html>
