{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Outside Merch - overall listing </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "outsidemerch/css/bootstrap-flatly.css" %}" media="screen">
        <link rel="stylesheet" href="{% static "outsidemerch/css/om-style.css" %}" media="screen">
    <style>
        img{
            height:70%;
            width:70%;
            display:block;
            margin-left:auto;
            margin-right:auto;
}
    </style>

    </head>
    <body>


    {% block navbar %}
      <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url "root" %}" class="navbar-brand">Outside Merch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
             <li><a href="{% url "root" %}">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Stages <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                    {% for stage in stages %}
					<li><a href="{% url "stage" forloop.counter %}">{{ stage }}</a></li>
                    {% endfor %}
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url "root" %}">Help</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    {% endblock %}

<div style="height:70px;">
</div>

      <!-- Content
      ================================================== -->

<div class="container">
    <div id="out"><img src="{% static "outsidemerch/images/outsidelands2014.png" %}"></div>
    {% block content %}
	<div class="row">

          <div class="col-lg-12" id="evtscontainer">

            {% if lineups %}
                {% for stage, lineup in lineups.items %}
                    {% if specified_stage and specified_stage == stage %}
                    <div class="jumbotron" style="padding:5px; background-color:#7bc5ce; padding-top: 10px;">
                    <h3 style="margin-top: 8px;padding-left: 5px;">You are now watching:</h3>
                    <div class="bs-component" {% if specified_stage and specified_stage == stage %} id="stage-target" {% endif %} style="margin-bottom: 15px;">
              <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default stage-left stage-name" style="font-size: larger">{{ stage }}</a>
                <a href="{{ lineup.0.link }}" class="btn btn-default" style="font-size: larger">{{ lineup.0.artist }}<br><span>{{ lineup.0.time }}</span></a>

              </div>
                    <div class='row'>
                        <div class="col-xs-6">
                            <a href="{{ lineup.0.link }}"><img src='{% static 'outsidemerch/images/outside_shirt.png' %}' style="padding-top:15px"></a>
                        </div>
                        <div class="col-xs-6"  style="padding-left: 0px;">
                            <a href="{{ lineup.0.link }}" style="background-color: #FFD75D; text-align: center;margin-top: 20%; border-radius: 20px; border: solid 5px #45332F;" class="btn btn-default stage-left stage-name">Like the artist? Buy merch here.</a>
                        </div>
                    </div>

                        </div>
                        </div>
                        </div>
</div>
                    {% else %}


            <div class="bs-component" {% if specified_stage and specified_stage == stage %} id="stage-target" {% endif %} style="margin-bottom: 15px;">
              <div class="btn-group btn-group-justified">
<!-- LEFT SIDE === STAGE  -->
<!-- LINK TO STAGE PAGE VIEW  -->
                <a href="#" class="btn btn-default stage-left stage-name">{{ stage }}</a>
<!-- RIGHT SIDE === ARTIST/TIME  -->
<!-- LINK TO STAGE PAGE VIEW? OR ARTIST STORE?   -->
                <a href="{{ lineup.0.link }}" class="btn btn-default">{{ lineup.0.artist }}<br><span>{{ lineup.0.time }}</span></a>
              </div>
            </div>

                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
        </div>
    {% endblock %}
</div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "outsidemerch/js/bootstrap.min.js" %}"></script>

    {% block custom_js %}
    <script type="text/javascript">
    $(function(){
        {% if specified_stage %}
            var $container = $("#evtscontainer");
            var $target = $(".jumbotron").remove().prependTo($container).after("<h3>Now playing at other stages</h3>");
            var currentDiv = $('<div/>', {'class':'jumbotron'});
            var img = $('<img/>', {'src':'http://cdn.shopify.com/s/files/1/0199/4554/products/MYSTERY_TEE_large.png?v=1358359356', 'class':'img-responsive'});
        {% endif %}
    });
    </script>
    {% endblock %}
    </body>
</html>
