{% extends "outsidemerch/overall.html" %}
{% load static %}

{% block content %}
	<div class="row">

          <div class="col-lg-8">

            {% for lineup in lineups %}
             <a id='{% if lineup.current == True %}current_show{% else %} {{ lineup.time_start }} {% endif %}' name='{{ lineup.time_start }}'></a>
            <p class="bs-component stage-store-btn">
              <button type="button" class="btn btn-default btn-lg btn-block stage-store-btn">{{ lineup.artist }}<br>
              <span>{{ lineup.time }} - {{ lineup.stage }}</span>
              <div class="btn-group btn-group-justified">
                <a href="{{ lineup.link }}" class="btn  stage-store-btn">Store</a>
              </div>
              </button>
            </p>
            {% endfor %}

          </div>
    </div>
{% endblock %}

{% block custom_js %}
        <script type="text/javascript">
        $(function(){
            var loc = $("a#current_show").attr("name");
            if (loc != null)
                window.location.hash = loc;
                var $target = $("a#current_show").next().find("button.btn-default").css("background-color", "orange");
        });
        </script>
{% endblock %}
